@using System.Web.Optimization
@{
    ViewBag.Title = "Index";
}
<head>
    <title>Tic Tac Toe</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/js")
</head>
<body>
    <div id="container"></div>
    <script src="~/Scripts/jsx/TicTacToe.jsx"></script>
</body>


